.bt-back-to-top {
    position: fixed;
    border: 1px solid var(--vp-c-divider);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    right: 8px;
    bottom: 24px;
    transition: all 0.3s;
    cursor: pointer;
    opacity: 0;
    transform: translateY(200%) scale(0.5);
}

.bt-back-to-top::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%) rotate(-45deg);
    width: 16px;
    height: 16px;
    border-top: 1px solid var(--vp-c-divider);
    border-right: 1px solid var(--vp-c-divider);
}

.bt-back-to-top.show {
    transform: translateY(0) scale(1);
    opacity: 1;
}
