.bt-categories-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
}

.bt-categories-gird {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;

    @media (width >= 640px) {
        grid-template-columns: repeat(2, auto);
    }

    @media (width >= 960px) {
        grid-template-columns: repeat(3, auto);
    }
}

.bt-categories-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
}

.bt-categories-item:hover {
    transform: scale(1.1);
}
