.bt-categories-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    inset: 0;
    flex-direction: column;
}

.bt-categories-input {
    margin-top: 20vh;
    width: 100%;
    max-width: 400px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid var(--vp-c-border);
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 16px;
    transition: border-color 0.3s;
}

.bt-categories-gird {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;

    @media (width >= 640px) {
        grid-template-columns: repeat(2, auto);
    }

    @media (width >= 960px) {
        grid-template-columns: repeat(3, auto);
    }
}

.bt-categories-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.bt-categories-item a {
    transition: color 0.3s;
    user-select: none;
}

.bt-categories-item a:hover {
    color: var(--vp-c-brand);
}
