.bt-mine-card {
    --card-normal-size: 64px;
    --card-hover-size: 240px;
    --avatar-normal-size: 54px;
    --avatar-hover-size: 72px;

    position: fixed;
    right: -1px;
    top: var(--vp-nav-height);
    width: var(--card-normal-size);
    height: var(--card-normal-size);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border: 1px solid var(--vp-c-divider);
    transition: all 0.3s;
    overflow: hidden;
    padding: 4px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.bt-mine-card:hover {
    border-radius: 8px;
    width: var(--card-hover-size);
    height: var(--card-hover-size);
    right: 8px;
    padding: 8px;
}

.bt-mine-card-avatar {
    width: var(--avatar-normal-size);
    height: var(--avatar-normal-size);
    object-fit: cover;
    border-radius: 50%;
    transition: all 0.3s;
    align-self: flex-start;
}

.bt-mine-card:hover .bt-mine-card-avatar {
    border-radius: 4px;
    width: var(--avatar-hover-size);
    height: var(--avatar-hover-size);
}

.bt-mine-card-header {
    display: flex;
    gap: 8px;
    align-items: flex-end;
}

.bt-mine-card-title {
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s;
}

.bt-mine-card-description {
    width: calc(var(--card-hover-size) - 16px);
    transition: opacity 0.4s;
    opacity: 0;
    font-size: 14px;
}

.bt-mine-card:hover .bt-mine-card-title,
.bt-mine-card:hover .bt-mine-card-description {
    opacity: 1;
}

.bt-mine-card .social-links {
    justify-content: flex-start;
    background-color: var(--vp-c-bg-alt);
    border-radius: 8px;
    transform: translateY(200%);
    transition: transform 0.5s;
}

.bt-mine-card:hover .social-links {
    transform: translateY(0);
}

.bt-mine-card .spacer {
    flex: 1;
}
