.bt-post-list {
    position: relative;
    padding: 0 24px;
}

@media (width >= 640px) {
    .bt-post-list {
        padding: 0 48px;
    }
}

@media (width >= 960px) {
    .bt-post-list {
        padding: 0 64px;
    }
}

.bt-post-list .container {
    margin: 0 auto;
    max-width: 1152px;
    display: flex;
    padding-bottom: 40vh;
}

.bt-post-list .card-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 688px;
    flex: 1 1 auto;
}

.bt-post-list .extra-container {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    gap: 20vh;
    padding-left: 64px;
}

.bt-post-list .extra-container > * {
    position: sticky;
    font-weight: lighter;
    font-size: 3em;
    font-style: italic;
    line-height: 1;
}

.bt-post-list .fade-in-item {
    opacity: 0;
    transform: translateX(30%);
    transition: all 0.4s;
}

.bt-post-list .fade-in {
    opacity: 1;
    transform: translateX(0);
}
