.bt-post-card {
    padding: 24px;
    border: 1px solid var(--vp-c-bg-soft);
    border-radius: 12px;
    background-color: var(--vp-c-bg-soft);
    cursor: pointer;
    transition: all 0.3s;
}

.bt-post-card:hover {
    transform: translateX(-12px);
    border-color: var(--vp-c-brand);
    background-color: var(--vp-c-bg-soft-up);
}

.bt-post-card-box {
    display: flex;
    flex-direction: column;
}

.bt-post-card-title {
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.5;
}

.bt-post-card-excerpt {
    font-size: 1rem;
    line-height: 1.5;
    color: var(--vp-c-text-2);
}

.bt-post-card-meta {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 12px;
    font-size: 0.875rem;
    color: var(--vp-c-text-2);
    border-bottom: 1px solid var(--vp-c-divider);
    margin: 0 -24px 4px;
    padding: 0 24px 4px;
}
