.bt-tags-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    height: calc(100vh - var(--vp-nav-height) - var(--vp-layout-top-height, 0px));
    padding: 20vh 48px 0;
}

.bt-tags-input {
    width: 100%;
    max-width: 500px;
    padding: 8px 16px;
    border: 1px solid var(--vp-c-divider);
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s;
}

.bt-tags-box-wrapper {
    position: relative;
    width: 100%;
}

.bt-tags-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
@media (min-width: 640px) {
    .bt-tags-box {
        max-width: 500px;
    }
}
@media (min-width: 960px) {
    .bt-tags-box {
        max-width: 640px;
    }
}

@keyframes appearDown {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.bt-tags-item {
    line-height: 1.2;
    cursor: pointer;
    transition: all 0.3s;
    opacity: 0;
    animation: appearDown 0.5s ease-in-out 0.2s forwards;
}

.bt-tags-item:hover {
    color: var(--vp-c-brand);
    font-weight: bolder;
}
